@import "../scss/vars";
@import "../scss/generals";

.border-rounded {
  border-style: solid;
  border: 1px solid $back_Dark;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;  
}

.nombre {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(80px + 2vmin);
    font-weight: 500;
    background-color: $back_Dark;
    color: $back_Light;
}
@mixin accordeonitem
{
  display: flex;
  text-align: right;
  margin-left: 15%;
  color: $back_Dark;
  margin-top: 0;
  margin-bottom: 0;
}  
.titulo {
  @include accordeonitem;
  font-size: calc(30px + 2vmin);
  font-weight: 500;
}
.estudio {
  @include accordeonitem;
  font-size: calc(20px + 2vmin);
  font-weight: 450;
}
.estudio_sub {
  @include accordeonitem;
  font-size: calc(10px + 2vmin);
  font-weight: 400;
}
.otrasexperiencias {
  @include accordeonitem;
  font-size: calc(10px + 2vmin);
  font-weight: 200;
}

